.ImageBorderThumb {
    width: 100%;
    height: 100%;
    position: relative;
    & > * {
        position: absolute;
        transition: all 0.5s;
        width: 100%;
        height: 100%;
    }
    .border {
        border:1px solid #ccc;
        bottom:-7px;
        right:-7px;
    }
    .image {
        top:-7px;
        left:-7px;
        overflow: hidden;
        .imageInner {
            position: relative;
            background: black;
            width: 100%;
            height: 100%;
            &:hover {
                .imageCaption {
                    padding-bottom: 50px;
                    transition: all 0.3s;
                }
            }
            .imageCaption {
                transition: all 0.3s;
                position: absolute;
                padding: 30px;
                text-align: right;
                box-sizing: border-box;
                width: 100%;
                display: none;
                z-index: 2;
                bottom: 0; left: 0;
                background: transparent;
                background: linear-gradient(180deg,
                            rgba(190,255,0,0) 0%,
                            rgba(15,42,49,.9) 65%
                        );
                h3, h4, button {
                    color:white;
                    font-family: 'Poppins', sans-serif;
                }
                h3 {
                    font-weight: 500;
                }
                h4 {
                    margin-bottom: 24px;
                    font-size: 18px;
                    font-weight: 200;
                    font-size: 13px;
                }
                button {
                    border:1px solid white;
                    background: transparent;
                    padding: 10px 40px;
                }
            }
            img {
                z-index: 1;
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all 1s;
                opacity: .8;
            }
        }
    }
    &:hover {
        & > * {
            transition: all 0.3s;
        }
        .border {
            bottom:-15px;
            right:-15px;
        }
        .image {
            img {
                opacity: 1;
                transform: scale(1.02);
                transition: opacity .3s, transform 1.2s ease-out;
            }
        }
    }
    &.active {
        .image {
            .imageInner {
                .imageCaption {
                    display: block;
                }
            }
        }
    }
    &.roundTop {
        .image, .border {
            border-top-left-radius: 250px;
            border-top-right-radius: 250px;
        }
    }
}