@import 'assets/css/var';

.mainSliderItem {
    margin-bottom: 100px;
    min-height: calc(100vh - 150px);
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 1050px;
    & > div {
        display: grid;
        align-items: center;
    }
    .caption {
        z-index: 2;
        & > div {
            transform: translateX(180px);
            opacity: 0;
            h1 {
                margin-bottom: 30px;
                transition: all .3s;
                font-family: 'Syne', sans-serif;
                color: $color-dark-teal;
                text-transform: uppercase;
                font-weight: 700;
                width: 80%;
                font-size: 100px;
                line-height: 100px;
                letter-spacing:6px;
                // color: transparent;
                // text-shadow:
                //     0 1px 0 white,
                //     0 -1px 0 white,
                //     1px 0px 0 white,
                //     -1px 0px 0 white;
            }
            h2 {
                font-family: 'Poppins', sans-serif;
                margin-bottom: 50px;
                font-weight: 300;
                width: 550px;
                font-size: 20px;
            }

        }
    }
    .images {
        z-index: 1;
        .imagesInner {
            height: 100%;
            grid-auto-flow: column;
            display: inline-grid;
            column-gap: 200px;
            position: relative;
            align-items: center;
            .dots {
                position: absolute;
                bottom: 55px;
                right:10%;
                & > div {
                    display: inline-block;
                    position: relative;
                    width: 18px;
                    height: 18px;
                    margin: 0 8px;
                    cursor: pointer;
                    border:1px solid #ccc;
                    &:hover {
                        border-color: #111;

                    }
                    &:first-child {
                        border-color: #111;
                        &::before {
                            content: '';
                            position: absolute;
                            width: 11px;
                            height: 11px;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: #111;
                        }
                    }
                }
            }
            .imageC {
                position: relative;
                width: 500px;
                height: 95%;
                display: inline-block;
                &:nth-child(3) {
                    height: 70%;
                    width: 400px;
                }
                & > button {
                    @include rect(60px);
                    position: absolute;
                    &:nth-child(1) {
                        left: -90px;
                        bottom: 20%;
                    }
                    &:nth-child(2) {
                        right: -90px;
                        bottom: 50%;
                        &:hover {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 767.98px) {
    .mainSliderItem {
        grid-template-columns: 1fr;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        height: unset;
        padding-bottom: 10%;
        width: 100%;
        margin:0 auto;

        .caption {
            margin-top: 0px;
            grid-row: 2/3;
            width: 80%;
            margin:0 auto;
            z-index: 2;
            & > div {
                transform: translateX(0px);
                opacity: 1;
                h1 {
                    @include sectionTitleSmall;
                }
                h2 {
                    @include sectionSubtitleSmall;
                    width: 90%;
                }
            }
        }
        .images {
            grid-row: 1/2;
            height: 700px;
            margin-bottom: 16px;
            .imagesInner {
                column-gap: 0px;
                .imageC {
                    width: 80%;
                    margin:0 auto;
                    height: 600px !important;
                    & > button {
                        @include rect(60px);
                        display: none !important;
                    }
                    &:nth-child(2) {
                        // background: red;
                        height: 500px;
                    }
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
    .mainSliderItem {
        grid-template-columns: 600px 1fr;
    }
}
@media only screen and (min-width: 1200px) {
    .mainSliderItem {
        height: 500px;
        grid-template-columns: 600px 1fr;
        margin-bottom: 50px;
        .caption {
            z-index: 2;
            & > div {
                transform: translateX(140px);
                opacity: 0;
                h1 {
                    font-size: 66px;
                    font-weight: 700;
                    line-height: 75px;
                    width: 80%;
                }
                h2 {
                    width: 450px;
                    font-size: 13px;
                }
            }
        }

        .images {
            .imagesInner {
                column-gap: 120px;
                .dots {
                    bottom: 25px;
                    right:15%;
                    & > div {
                        width: 13px;
                        height: 13px;
                        margin: 0 4px;
                        &:first-child {
                            &::before {
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                top:50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background: #111;
                            }
                        }
                    }
                }
                .imageC {
                    width: 330px;
                    & > button {
                        @include rect(50px);
                    }
                    &:nth-child(3) {
                        height: 70%;
                        width: 250px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1400px) {
    .mainSliderItem {
        grid-template-columns: 1fr 800px;
        .caption {
            z-index: 2;
            & > div {
                transform: translateX(140px);
                opacity: 0;
                h1 {
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 75px;
                    width: 80%;
                }
                h2 {
                    width: 450px;
                    font-size: 15px;
                }
            }
        }
        .images {
            .imagesInner {
                column-gap: 160px;
                .imageC {
                    width: 400px;
                    & > button {
                        @include rect(60px);
                    }
                    &:nth-child(3) {
                        height: 70%;
                        width: 300px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1900px) {
    .mainSliderItem {
        grid-template-columns: 1fr 1050px;
        height: 700px;
        .caption {
            z-index: 2;
            & > div {
                transform: translateX(180px);
                opacity: 0;
                h1 {
                    font-weight: 700;
                    width: 80%;
                    font-size: 100px;
                    line-height: 100px;
                    letter-spacing:6px;
                }
                h2 {
                    font-size: 20px;
                    width: 550px;
                }
            }
        }
        .images {
            .imagesInner {
                column-gap: 200px;
                .imageC {
                    width: 500px;
                    & > button {
                        @include rect(60px);
                    }
                    &:nth-child(3) {
                        height: 70%;
                        width: 400px;
                    }
                }
            }
        }
    }
}
