@import 'assets/css/var';

footer {
    text-align: right;
    margin-top: 150px;
    .container {
        display: inline-block;
        width: calc(100vw - 200px);
        background: #0f2a31;
        padding: 10% 5% 32px;
        box-sizing: border-box;
        text-align: left;
        .top {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            h2 {
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                color: white;
                font-size: 13px;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            .logo {
                h1 {
                    color: white;
                    font-family: "Syne", sans-serif;
                    letter-spacing: 8px;
                    font-size: 10px;
                    font-weight: 800;
                }
            }
            .links {
                display: grid;
                column-gap: 60px;
                grid-template-columns: auto auto auto;
                ul {
                    list-style-type: none;
                    li {
                        margin-bottom: 8px;
                        a{
                            font-family: 'Poppins', sans-serif;
                            color: white;
                            font-size: 14px;
                            font-weight: 300;
                            opacity: .6;
                            &:hover {
                                transition:all .3s;
                                opacity: .9;
                            }
                        }
                    }
                }
            }
            .sosmed {
                text-align: right;
                a {
                    @include circle(35px);
                    display: inline-grid;
                    margin-right: 16px;
                    place-items: center;
                    opacity: .7;
                    border:1px solid #fff;
                    &:hover {
                        transition:all .3s;
                        opacity: .9;
                        img {
                        transition:all .3s;
                            opacity: .6;
                        }
                    }
                    img {
                        width: 14px;
                        opacity: .3;
                    }
                }
            }
        }
        .bottom {
            padding-top: 32px;
            margin-top: 100px;
            display: grid;
            grid-template-columns: auto 1fr;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            p {
                font-size: 12px;
                color: white;
                font-family: 'Poppins', sans-serif;
                opacity: .7;
            }
            & > div {
                text-align: right;
                a {
                    font-size: 12px;
                    color: white;
                    opacity: .7;
                    margin-left: 100px;
                    font-family: 'Poppins', sans-serif;
                    &:hover {
                        opacity: .9;
                        transition:all .3s;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 767.98px) {
    footer {
        margin-top: 50px;
        .container {
            width: 100%;
            padding-top: 17%;
            .top {
                grid-template-columns: 1fr;
                h2 {
                    font-weight: 500;
                    font-size: 10px;
                    margin-bottom: 16px;
                    text-align: center;
                }
                .logo {
                    margin-bottom: 32px;
                    h1 {
                        text-align: center;
                        font-size: 13px;
                    }
                }
                .links {
                    column-gap: 24px;
                    grid-template-columns: 1fr 1fr 1fr;
                    ul {
                        li {
                            margin-bottom: 8px;
                            text-align: center;
                            a{
                                display: inline-block;
                                font-size: 12px;
                            }
                        }
                    }
                }
                 .sosmed {
                    text-align: center;
                    margin-top: 24px;
                    a {
                        margin-right: 8px;
                        margin-left: 8px;
                    }
                }
            }
            .bottom {
                margin-top: 10%;
                grid-template-columns: 1fr;
                p {
                    text-align: center;
                    font-size: 11px;
                }
                & > div {
                    text-align: center;
                    margin-top: 16px;
                    a {
                        display: inline-block;
                        margin: 0 6px;
                        font-size: 10px;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    footer {
        margin-top: 100px;
        .container {
            width: calc(100vw - 140px);
            .top {
                .logo {
                    h1 {
                        letter-spacing: 6px;
                        font-size: 9px;
                    }
                }
                h2 {
                    font-size: 10px;
                    margin-bottom: 16px;
                }
                .links {
                    ul {
                        li{
                            a {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
            .bottom {
                p {
                    font-size: 10px;
                }
                & > div {
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1900px) {
    footer {
        margin-top: 150px;
        .container {
            width: calc(100vw - 200px);
            .top {
                .logo {
                    h1 {
                        letter-spacing: 8px;
                        font-size: 10px;
                    }
                }
                h2 {
                    font-size: 13px;
                    margin-bottom: 30px;
                }
                .links {
                    ul {
                        li{
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .bottom {
                p {
                    font-size: 12px;
                }
                & > div {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
