@import 'assets/css/var';

.promoSlider {
    white-space:nowrap;
    margin-top: 140px;
    position: relative;
    & > button {
        position: absolute;
        @include rect(60px);
        z-index: 11;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            left: -30px;
        }
        &:nth-child(2) {
            right: -30px;
        }
    }
}

.promoThumbItem {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 500px;
    cursor: pointer;
    margin-right: 90px;
    width: 330px;
    background: #000;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, .3),
                30px 30px 50px rgba(0, 0, 0, .3);
    &:hover {
        img {
            opacity: .9;
            transition: all 0.3s;
        }
        .caption {
            transition: all 0.6s;
            bottom: 10px;
        }
    }
    &.active {
        width: 550px;
        background: #000;
        .caption {
            h1 {
                font-size: 30px;
                text-shadow: 5px 5px 8px rgb(0 0 0 / 40%);
            }
            h2 {
                text-shadow: 2px 2px 3px black;
            }
        }
        img {
            // opacity:.8;
        }
    }
    img {
        position: absolute;
        width: 100%;
            opacity:.7;
        height: 100%;
        z-index: 1;
        object-fit: cover;
    }
    .caption {
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        padding: 20px;
        position: absolute;
        z-index: 2;
        color: white;
        h1 {
            font-weight: 100;
            font-size: 22px;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
        }
        h2 {
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
            overflow: hidden;
            font-size: 12px;
            text-overflow: ellipsis;
        }
    }
}


@media only screen and (max-width: 767.98px) {
    .promoSlider {
        margin-top: 80px;
        & > button {
            &:nth-child(1),
            &:nth-child(2) {
                display: none !important;
            }
        }
    }
    .promoThumbItem {
        height: 300px;
        display: none;
        width: 70%;
        &.active {
            width: 100%;
            display: block;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .promoSlider {
        margin-top: 110px;
    }
    .promoThumbItem {
        margin-right: 70px;
        height: 330px;
        width: 250px;
        &.active {
            width: 450px;
        }
    }
}
@media only screen and (min-width: 1900px) {
    .promoSlider {
    margin-top: 140px;
    }
    .promoThumbItem {
        margin-right: 90px;
        height: 500px;
        width: 330px;
        &.active {
            width: 550px;
        }
    }
}
