@import 'assets/css/var';

.cityDetail {
    position: fixed;
    left: 70%; top: 0;
    width: 100vw;
    background: $color-dark-teal;
    height: 100vh;
    z-index: 999;
    z-index: $zindex-popupFullScreen;
    display: none;
    &.show {
        display: block;
        :global {
            animation: slideInPopupFullScreen .5s ease-out forwards;
        }
        .close {
            animation: fadeIn .4s linear .4s forwards;
        }
        .gallery {
            opacity: 1;
            & > div {
                animation: fadeRight .8s ease-out forwards;
                &:nth-child(1) {
                    animation-delay: .3s;
                }
                &:nth-child(2) {
                    animation-delay: .5s;
                }
                &:nth-child(3) {
                    animation-delay: .7s;
                }
                &:nth-child(4) {
                    animation-delay: .9s;
                }
                &:nth-child(5) {
                    animation-delay: 1.1s;
                }
            }
        }
        .description {
            animation: fadeIn .9s linear .8s forwards;
            & > div {
                animation: fadeUp 2s ease-out .4s forwards;
            }
        }
    }
    .close {
        @include rect(70px);
        position: absolute;
        z-index: 2;
        cursor: pointer;
        top:80px; right: 80px;
        .closeInner {
            width: 100%;
            position: relative;
            cursor: pointer;
            height: 100%;
            & > div {
                height: 1px;
                width: 70px;
                position: absolute;
                background: white;
                left: 50%;
                top: 50%;
                z-index: 11111;
                transform-origin: 0%;
                &:nth-child(1) {
                    transform: rotate(-45deg)  translate(-50%, -50%);
                }
                &:nth-child(2) {
                    transform: rotate(45deg)  translate(-50%, -50%);
                }
            }
        }
    }
    .gallery {
        width: 100%;
        height: 100%;
        column-gap: 60px;
        display: grid;
        transform: translateX(-80px);
        align-items: center;
        justify-items: center;
        grid-template-columns:170px 200px 230px 260px .8fr;
        & > div {
            opacity: 0;
            width: 85%;
            height: 500px;
            position: relative;
            &:nth-child(1) {
                height: 170px;
            }
            &:nth-child(2) {
                height: 210px;
            }
            &:nth-child(3) {
                height: 250px;
            }
            &:nth-child(4) {
                height: 300px;
            }
            &:nth-child(5) {
                height: 80vh;
                position: relative;
                button {
                    position: absolute;
                    top: 50%;
                    width: 60px;
                    height: 60px;
                    z-index: 10;
                    transition: all 0.6s;
                    &:hover {
                        transition: all 0.3s;
                        &:nth-child(1) {
                            left: -55px;
                        }
                        &:nth-child(2) {
                            right: -40px;
                        }
                    }
                    &:nth-child(1) {
                        left: -40px;
                    }
                    &:nth-child(2) {
                        right: -25px;
                    }
                }
            }
        }
    }
    .description {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 48vw;
        padding: 70px;
        box-sizing: border-box;
        display: grid;
        color: white;
        align-items: center;
        background: #0f2a31d9;
        & > div {
            opacity: 0;
        }
        h1 {
            font-family: "Syne", sans-serif;
            margin-bottom: 40px;
            color: $color-dark-teal;
            font-size: 52px;
            text-shadow:
                -1px 0px 0px white,
                1px 0px 0px white,
                0 -1px 0px white,
                0 1px 0px white;
        }
        p {
            font-family: 'Poppins', sans-serif;
            margin-bottom: 24px;
            font-weight: 200;
            font-size: 18px;
        }
        a {
            display: inline-block;
            width: 60px;
            height: 70px;
            border:1px solid white;
            display: inline-grid;
            margin-top: 70px;
            place-items: center;
            margin-right: 24px;
            opacity: .7;
            &:hover {
                opacity: 1;
                transition: all .3s;
                img {
                    transition: all .3s;
                    transform:scale(1.1);
                }
            }
            img {
                transition: all .3s;
                width: 20px;
            }
        }
    }
}



@keyframes fadeIn {
    0% {

    }
    100% {
        opacity: 1
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
