@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


$color-dark-teal : #0f2a31;
$zindex-menu-fullscreen : 100;
$container: 85%;

// font-family: 'Poppins', sans-serif;
// font-family: 'Syne', sans-serif;

@mixin rect($size) {
    width: $size;
    height: $size;
}
@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}
@mixin roundedTopThumb() {
    width: 100%;
    height: 100%;
    border-top-left-radius: 220px;
    border-top-right-radius: 220px;
    position: absolute;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.navbar {
    background: white;
    padding: 55px 0;
    .container {
        width: $container;
        margin:0 auto;
        display: grid;
        padding: 16px 0;
        grid-template-columns: 200px 1fr;
        .logo {
            a {
                font-family: 'Syne', sans-serif;
                font-weight: 800;
                color: #000;
            }
        }
        .links {
            text-align: right;
            a {
                margin-left: 100px;
                font-family: 'Poppins', sans-serif;
                color : #333;
                font-weight: 500;
                font-size: 13px;
                display: inline-block;
            }
        }
    }
}
.menu-fullscreen {
    background: $color-dark-teal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-menu-fullscreen;
    width: 100vw;
    height: 100vh;
    align-content: center;
    display: grid;
    display: none;
    grid-template-columns: 400px 350px 1fr;
    .btn-close-menu-fullscreen {
        align-self: center;
        button {
            background-color:transparent;
            border: 0;
            cursor: pointer;
            width: 100px;
            height: 100px;
            &:hover {
                span {
                    opacity: .7;
                    transition: all 0.3s;
                }
            }
            span {
                background: white;
                display: inline-block;
                width: 1px;
                transition: all 0.6s;
                opacity: .5;
                height: 70px;
                &:nth-child(1) {
                    transform: rotate(45deg)
                }
                &:nth-child(2) {
                    transform: rotate(-45deg)
                }
            }
        }
    }
    .links {
        align-self: center;
        a {
            display: inline-block;
            color : white;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 15px;
            position: relative;
            margin: 20px 0;
            span {
                transition: all 0.6s;
                opacity : 0.7;
            }
            &:hover {
                &::before {
                    transform: translateX(-50px);
                    transition: all 0.3s;
                    width: 150px;
                }
                span {
                    transition: all 0.2s;
                    letter-spacing: .8px;
                    opacity: 1;
                }
            }
            &::before {
                content: '';
                position: absolute;
                top:50%;
                transition: all 0.2s;
                left: -105px;
                display: block;
                background: white;
                width: 90px;
                height: .5px;
                transform: translateY(-50%);
            }
        }
    }
    .promotion {
        .menu-fullscreen-slider {
            position: relative;
            height: 80vh;
            width: 100%;
            .slider-c {
                margin-top: 2%;
                width: 90%;
                height: 100%;
                left: 0;
                position: absolute;
                z-index: 1;

            }
            .slider-nav {
                @include circle(50px);
                position: absolute;
                z-index: 2;
                left: 0;
                &:nth-child(2) {
                    bottom: 0;
                }
            }
            .pagination {
                position: absolute;
                z-index: 2;
                right:10%;
                top: 0;
                p {
                    text-transform: uppercase;
                    span {
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        font-size: 16px;
                        display: inline-block;
                        &:nth-child(1) {
                            margin-right: 15px;
                            font-weight: 200;
                        }
                        &:nth-child(2) {
                            font-weight: 700;
                        }
                        &:nth-child(3),
                        &:nth-child(4) {
                            font-weight: 200;
                        }
                    }
                }
            }
        }
        .thumb-c {
            height: 80vh;
            width: 70%;
        }
    }
}
.burger {
    width: 100px;
    cursor: pointer;
    height: 100px;
    position: fixed;
    left: 50px;top: 50%;
    & > div {
        &:nth-child(1) {
            width: 60px;
            margin-bottom: 10px;
            height: 1px;
            background: $color-dark-teal;
        }
        &:nth-child(2) {
            width: 50px;
            height: 1px;
            background: $color-dark-teal;
        }
    }
}
.main-slider {
    margin-bottom: 100px;
    transform: translateX(150px);
    .slick-slide {
        position: relative;
        cursor: grab;
    }
    .slick-active {
        & > div {
            .main-slider-item {
                .btn-arrow {
                    display: inline-grid !important;
                    position: absolute;
                    z-index: 5;
                    &:nth-child(1) {
                        bottom: 44%;
                        right: 540px;
                    }
                    &:nth-child(2) {
                        bottom: 15%;
                        right: 0px;
                    }
                }
            }
            .rounded-top-thumb {
                .image {
                    width: 400px;
                    top: 0px;
                    transform: scale(1);
                    left: unset;
                    right: 120px;
                    img {
                        animation: mainSliderImg 12s forwards
                    }
                    & > div {
                        & > div {
                            display: block;
                        }
                    }
                }
                .border {
                    left: unset;
                    right: 75px;
                    bottom : -40px;
                    animation:mainSliderBorder 1s forwards;

                }
                .caption {
                    animation: mainSliderCaption 1.2s ease-out forwards;
                    display: block;
                    opacity: 0;
                    h1 {
                        font-size: 80px;
                        margin-bottom: 30px;
                        font-weight: 700;
                        transition: all .3s;
                        line-height: 72px;
                        width: 80%;
                        letter-spacing:6px;
                    }
                    h2 {
                        font-family: 'Poppins', sans-serif;
                        margin-bottom: 50px;
                        font-weight: 500;
                        width: 450px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .rounded-top-thumb {
        overflow: visible;
        height: 90%;
        width: 100%;
        .caption {
            display: none;
        }
        .border {
            border-color: black;
            width: 380px;
            transform: scale(.7);
            bottom: -35px;
            left: 40px;
        }
        .image {
            transform: scale(.7);
            width: 400px;
            top: 0px;
            left: 0;
            right: unset;
            & > div {
                & > div {
                    display: none;
                }
            }
        }
    }
    .main-slider-item {
        height: calc(100vh - 100px);
        overflow: visible;
        width: 100%;
        .btn-arrow {
            display: none !important;
        }
    }
}
.price-offer-slider {
    margin-bottom: 100px;
    transform: translateX(150px);
    min-width: 100vw;
    .slick-active{
        .price-offer-slider-item {
            position: relative;
            .btn-arrow {
                display: inline-grid !important;
                position: absolute;
                z-index:5;
                transform: translateY(-50%);
                top: 50%;
                &:nth-child(1) {
                    right: 570px;
                }
                &:nth-child(2) {
                    right: 0;
                }
            }
            .box-thumb {
                grid-template-columns: 1fr 470px;
                transform: scale(1);
                .image {
                    transform: translateX(-75px);
                }
                .caption {
                    display: block;
                }
            }
        }
    }
    .price-offer-slider-item {
        .btn-arrow {
            display: none !important;
        }
        .box-thumb {
            transform: scale(.7) translateX(-200px);
            grid-template-columns: 470px;
            .caption {
                display: none;
                h1 {
                    text-transform: uppercase;
                }
            }
            .image {
                // transform: translateX(200px);
            }
        }
    }
}
.promo-slider {
    white-space:nowrap;
    margin-top: 140px;
    position: relative;
    .btn-arrow {
        position: absolute;
        z-index: 11;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
            left: -30px;
        }
        &:nth-child(2) {
            right: -10px;
        }
    }
    .promo-thumb-item {
        overflow: hidden;
        display: inline-block;
        position: relative;
        height: 400px;
        margin-right: 60px;
        width: 270px;
        background: #000;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, .3),
                    30px 30px 50px rgba(0, 0, 0, .3);
        &.active {
            width: 550px;
            background: #000;
            .caption {
                h1 {
                    font-size: 30px;
                    text-shadow: 5px 5px 8px rgb(0 0 0 / 40%);
                }
                h2 {
                    text-shadow: 2px 2px 3px black;
                }
            }
            img {
                opacity:.8;
            }
        }
        img {
            position: absolute;
            width: 100%;
                opacity:.4;
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }
        .caption {
            width: 100%;
            bottom: 0;
            box-sizing: border-box;
            left: 0;
            padding: 20px;
            position: absolute;
            z-index: 2;
            color: white;
            h1 {
                font-weight: 100;
                font-size: 22px;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
            }
            h2 {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-weight: 200;
                overflow: hidden;
                font-size: 12px;
                text-overflow: ellipsis;
            }
        }
    }
}
.promo {
    text-align: right;
    .container {
        display: inline-block;
        min-height: 100vh;
        width: calc(100vw - 150px);
        background: $color-dark-teal;
        padding: 10% 5%;
        box-sizing: border-box;
        text-align: left;
        .header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 80px;
            &> div {
                &:nth-child(1) {
                    font-family: 'Syne', sans-serif;
                    color: white;
                    font-size: 26px;
                }
                &:nth-child(2) {
                    font-family: 'Poppins', sans-serif;
                    color: white;
                    font-size: 16px;
                    opacity: 0.8;
                    p {
                        line-height: 32px;
                    }
                }
                &:nth-child(3) {
                    font-family: 'Poppins', sans-serif;
                    color: white;
                    font-size: 16px;
                    opacity: 0.8;
                    & > div {
                        display: grid;
                        margin-top: 10%;
                        grid-template-columns: auto  1fr;
                        column-gap: 24px;
                        justify-items: start;
                        align-items: center;
                        span {
                            text-transform: uppercase;
                            font-weight: 200;
                            letter-spacing:2px;
                        }
                    }

                }
            }
        }
        .content {
            // background: red;
            min-height: 200px;
            width: 100%;
        }
        .footer {
            display: grid;
            margin-top: 100px;
            grid-template-columns: 1fr 1fr;
            & > div {
                &:nth-child(1) {
                    p {
                        &.quote {
                            margin-bottom: 24px;
                            font-family: 'Poppins', sans-serif;
                            color: white;
                            font-weight: 100;
                            font-size: 22px;
                            opacity: .7;
                            line-height: 26px;
                            position: relative;
                            img {
                                position: absolute;
                                top: -35px;
                                z-index: -1;
                                opacity: .4;
                                left: 0;
                                width: 50px;
                            }
                        }
                        &.name {
                            display: grid;
                            grid-template-columns: 50px 1fr;
                            align-items: center;
                            column-gap: 10px;
                            span {
                                &:nth-child(2) {
                                    font-family: 'Poppins', sans-serif;
                                    color: white;
                                    font-weight: 500;
                                    font-size: 12px;
                                    text-transform: uppercase;
                                }
                                &:nth-child(1) {
                                    height: 1px;
                                    width: 100%;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    text-align: right;
                    button {
                        display: inline-grid;
                    }
                }
            }
        }
    }
}
.features {
    margin-top: 150px;
    .container {
        width: $container;
        margin: 0 auto;
        h1 {
            font-family: 'Syne', sans-serif;
            color :#111;
            font-size: 60px;
            margin-bottom: 30px;
            letter-spacing: 5px;
            text-align: center;
            text-transform: uppercase;
        }
        h2 {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            width: 800px;
            margin: 0 auto;
        }
        .content {
            display: grid;
            margin: 0 auto;
            margin-top: 100px;
            width: 90%;
            column-gap: 100px;
            grid-template-columns: repeat(3, 1fr);
            & > div {
                position: relative;
                height: 450px;
                & > div {
                    width: 100%;
                    height: 100%;
                    bottom:-10px;
                    border:1px solid #aaa;
                    right: -15px;
                    position: absolute;
                }
                img {
                    width: 100%;
                    height: 100%;
                    top:-10px;
                    left: -10px;
                    position: absolute;
                    object-fit: cover;
                }
            }
        }
    }
}
.city-detail {
    position: fixed;
    left: 0; top: 0;
    width: 100vw;
    background: $color-dark-teal;
    height: 100vh;
    z-index: $zindex-menu-fullscreen;
    .close {
        @include rect(70px);
        position: absolute;
        cursor: pointer;
        top:80px; right: 80px;
        .close-inner {
            width: 100%;
            position: relative;
            height: 100%;
            & > div {
                height: 1px;
                width: 70px;
                position: absolute;
                background: white;
                left: 50%;
                top: 50%;
                z-index: 11111;
                transform-origin: 0%;
                &:nth-child(1) {
                    transform: rotate(-45deg)  translate(-50%, -50%);
                }
                &:nth-child(2) {
                    transform: rotate(45deg)  translate(-50%, -50%);
                }
            }
        }
    }
    .gallery {
        width: 100%;
        height: 100%;
        background: red;
        display: grid;
        transform: translateX(-50px);
        align-items: center;
        grid-template-columns:200px 230px 260px 290px 1fr;
        & > div {
            width: 100%;
            height: 500px;
            background: #000;
            &:nth-child(1) {
                height: 200px;
            }
        }
    }
}
footer {
    text-align: right;
    margin-top: 150px;
    .container {
        display: inline-block;
        width: calc(100vw - 150px);
        background: #0f2a31;
        padding: 10% 5% 32px;
        box-sizing: border-box;
        text-align: left;
        .top {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            h2 {
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                color: white;
                font-size: 11px;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            .logo {
                h1 {
                    color: white;
                    font-family: "Syne", sans-serif;
                    letter-spacing: 8px;
                    font-size: 10px;
                    font-weight: 800;
                }
            }
            .links {
                display: grid;
                column-gap: 60px;
                grid-template-columns: auto auto auto;
                ul {
                    list-style-type: none;
                    li {
                        margin-bottom: 8px;
                        a{
                            font-family: 'Poppins', sans-serif;
                            color: white;
                            font-size: 13px;
                            font-weight: 300;
                            opacity: .6;
                        }
                    }
                }
            }
            .sosmed {
                text-align: right;
                a {
                    @include circle(35px);
                    display: inline-grid;
                    margin-right: 16px;
                    place-items: center;
                    opacity: .7;
                    border:1px solid #fff;
                    img {
                        width: 14px;
                        opacity: .3;
                    }
                }
            }
        }
        .bottom {
            padding-top: 32px;
            margin-top: 100px;
            display: grid;
            grid-template-columns: auto 1fr;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            p {
                font-size: 11px;
                color: white;
                font-family: 'Poppins', sans-serif;
                opacity: .7;
            }
            & > div {
                text-align: right;
                a {
                    font-size: 11px;
                    color: white;
                    opacity: .7;
                    margin-left: 100px;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }
}
.rounded-top-thumb {
    position: relative;
    height: 100%;
    background: transparent;
    width: 440px;
    &.dark {
        .caption {
            h1, h2 {
                color :#333;
            }
        }
        .border {
            border-color: black;
        }
    }
    .caption {
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
        z-index: 2;
        position: absolute;
        width: 80%;
        h1 {
            font-family: 'Syne', sans-serif;
            font-weight: 800;
            margin-bottom: 50px;
            text-transform: uppercase;
            color: white;
        }
        h2 {
            color: white;
            opacity: .8;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 80px;
        }

    }
    .border {
        @include roundedTopThumb;
        left: 50%;
        opacity: .5;
        bottom: -8px;
        border:1px solid white;
    }
     &:hover {
        .image {
            & > div {
                & > div {
                    padding-bottom: 40px;
                    transition: all 0.3s;
                }
            }
        }
        }
    .image {
        position: absolute;
        overflow: hidden;
        border-top-left-radius: 220px;
        border-top-right-radius: 220px;
        background: $color-dark-teal;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 40%;
        top: -40px;
        img {
            opacity: .8;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &>div{
            width: 100%;
            height: 100%;
            position: relative;
            & > div {
                    transition: all 0.8s;

                & > * {
                    display: inline-block;
                }
                h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 500;

                }
                h4 {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 11px;
            width: 57%;
            margin-bottom: 16px;

                }
                text-align: right;
            z-index: 2;
            padding: 30px;
            box-sizing: border-box;
            bottom:0;left: 0;
            width: 100%;
            min-height: 30%;
            color: white;
                background: transparent;
background: linear-gradient(180deg, rgba(190,255,0,0) 0%, rgba(15,42,49,.8) 80%);
                position: absolute;
                button {
                    border:1px solid white;
                    color: white;
                    padding: 8px 32px;
                }
            }
        }
    }
}
.image-border-thumb {
    width: 100%;
    height: 100%;
    position: relative;
    & > * {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    img {
        object-fit: cover;
        top:-10px;
        left:-10px;
    }
    & > div {
        border:1px solid red;
        bottom:-10px;
        right:-10px;
    }
}
.box-thumb {
    position: relative;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 470px;
    .caption {
            display: block;
            h1 {
                font-size: 70px;
                margin-bottom: 30px;
                font-weight: 700;
                line-height: 70px;
                transition: all .3s;
                font-family: 'Syne', sans-serif;
                width: 80%;
                letter-spacing:6px;
            }
            h2 {
                font-family: 'Poppins', sans-serif;
                margin-bottom: 50px;
                font-weight: 500;
                width: 450px;
                font-size: 16px;
            }
        }
    .image {
        height: 80vh;
        & > div {
            position: relative;
            width: 100%;
            height: 100%;
            .image-desc {
                display: none;
            }
            .border {
                width: 95%;
                height: 95%;
                position: absolute;
                bottom: 0;
                right: 0;
                border:1px solid #777;
            }
            img {
                width: 92%;
                height: 95%;
                position: absolute;
                top: 0;
                object-fit: cover;
            }
        }
    }
}
button {
    opacity: .8;
    cursor: pointer;
    transition: all 0.6s;
    background: transparent;
    &:hover {
        opacity: 1;
        transition: all 0.2s;
    }
}
.btn-arrow {
    @include circle(50px);
    background: transparent;
    border:2px solid;
    overflow: visible;
    display: inline-grid !important;
    place-items: center;
    img {
        width: 20px;
        display: inline-block !important;
    }
    &.top {
        img {
            transform: rotate(-90deg);
        }
    }
    &.right {
        img {
            transform: rotate();
        }
    }
    &.left {
        img {
            transform: rotate(180deg);
        }
    }
    &.down {
        img {
            transform: rotate(90deg);
        }
    }
    &.white {
        border-color: white;
        .arrow-black {
            display: none !important;
        }
    }
    &.dark {
        border-color: #111;
        .arrow-white {
            display: none !important;
        }
    }
}
.btn-box {
    border: 1px solid white;
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    column-gap: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 25px 40px;
    box-sizing: border-box;
    &.dark {
        border-color: #111;
        div {
            background: #333;
        }
        span {
            color: #333333;
            text-shadow: none;
        }
    }
    div {
        width: 100%;
        height: 1px;
        background: white;
    }
    span {
        text-shadow: 0 1px 5px rgba(0, 0, 0, .7);
        font-size: 13px;
        text-align: left;
        font-weight: 500;
        color: white;
    }
}


@keyframes mainSliderBorder {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
    100% {
        opacity: .6;
        transform: translate(0px, 0px);
    }
}
@keyframes mainSliderImg {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes mainSliderCaption {
    0% {
        transform: translate(0px, -40%);
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
        transform: translate(0px, -50%);
    }
}
@keyframes slideRight {
    0% {
        width: 0px;
    }
    100% {
        transform: translateX(-30px);
        width: 120px;
    }
}