@import 'assets/css/var';


.features {
    margin-top: 150px;
    .container {
        width: $container;
        margin: 0 auto;
        h1 {
            font-family: 'Syne', sans-serif;
            margin-bottom: 30px;
            letter-spacing: 5px;
            text-align: center;
            text-transform: uppercase;
            font-size: 76px;
            color: #0f2a31;
            line-height: 72px;
        }
        h2 {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 300;
            width: 800px;
            margin: 0 auto;


        }
        .content {
            display: grid;
            margin: 0 auto;
            margin-top: 100px;
            width: 90%;
            column-gap: 140px;
            grid-template-columns: repeat(3, 1fr);
            & > div {
                position: relative;
                cursor: pointer;
                height: 550px;
            }
        }
    }
}