@import 'assets/css/var';

.menuFullscreen {
    background: $color-dark-teal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-popupFullScreen;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: none;
    grid-template-columns: 450px 500px 1fr;
    &.show {
        display: grid;
        animation: slideLeft .4s ease-out forwards;
        :global {
            animation: slideInPopupFullScreen .5s ease-out forwards;
        }
        .btnClose {
            :global {
                animation: fadeIn .3s linear .7s forwards;
            }
        }
        .links {
            a {
                animation: fadeUp .8s ease-in forwards;
                &:nth-child(1) {
                    animation-delay: .3s;
                }
                &:nth-child(3) {
                    animation-delay: .5s;
                }
                &:nth-child(5) {
                    animation-delay: .7s;
                }
                &:nth-child(7) {
                    animation-delay: .9s;
                }
                &:nth-child(9) {
                    animation-delay: 1.1s;
                }
            }
        }
        .promotion {
            :global {
                animation: fadeIn 2s linear .6s forwards;
            }
        }
    }
    .btnClose {
        align-self: center;
        opacity: 0;
        button {
            background-color:transparent;
            border: 0;
            cursor: pointer;
            width: 100px;
            height: 100px;
            &:hover {
                span {
                    opacity: .7;
                    transition: all 0.3s;
                }
            }
            span {
                background: white;
                display: inline-block;
                width: 1px;
                transition: all 0.6s;
                opacity: .5;
                height: 70px;
                &:nth-child(1) {
                    transform: rotate(45deg)
                }
                &:nth-child(2) {
                    transform: rotate(-45deg)
                }
            }
        }
    }
    .links {
        align-self: center;
        a {
            display: inline-block;
            color : white;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 16px;
            position: relative;
            margin: 30px 0;
            opacity: 0;
            span {
                transform: translateX(0px);
                opacity : 0.7;
                transition: all 0.6s;
            }
            &:hover {
                &::before {
                    transition: all 0.3s;
                    opacity: 0.9;
                    width: 100px;
                }
                span {
                    transition: all .4s;
                    transform: translateX(5px);
                    display: inline-block;
                    letter-spacing: .8px;
                    opacity: 1;

                }
            }
            &::before {
                content: '';
                position: absolute;
                top:50%;
                transition: all 0.2s;
                left: -105px;
                display: block;
                background: white;
                width: 90px;
                opacity: 0.5;
                height: 1px;
                transform: translateY(-50%);
            }
        }
    }
    .promotion {
        opacity: 0;
        height: 90vh;
        position: relative;
        & > button {
            @include circle(60px);
            position: absolute;
            z-index: 2;
            transition: all .6s;
            left: 0;
            &:nth-child(1) {
                top: 80px;
            }
            &:nth-child(2) {
                bottom: 80px;
            }
            &:hover {
                &:nth-child(1) {
                    transition: all .3s;
                    top: 75px;
                }
                &:nth-child(2) {
                    transition: all .3s;
                    bottom: 75px;
                }
            }
        }
        .caption {
            position: absolute;
            top:50%;
            z-index: 2;
            left: 0;
            width: 50%;
            transform: translateY(-50%);
            // background: green;
            h3 {
                color: white;
                margin-bottom: 40px;
                font-size: 50px;
                font-family: 'Syne', sans-serif;
                font-weight: 900;
                line-height: 50px;
                display: inline-block;
            }
            p {
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 60px;
            }
        }
        .pagination {
            position: absolute;
            z-index: 2;
            right:10%;
            top: 5%;
            p {
                text-transform: uppercase;
                font-size: 13px;
                span {
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    display: inline-block;
                    &:nth-child(1) {
                        margin-right: 10px;
                        font-weight: 200;
                    }
                    &:nth-child(2) {
                        font-weight: 700;
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        font-weight: 200;
                    }
                }
            }
        }
        .image {
            // background:yellow;
            right:10%;
            height: 95%;
            width: 550px;
            top:50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: 1;
        }
    }
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
